{% extends "layouts/base.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <h1 class="mb-5">Paldies, {{ user }}!</h1>
    <h2>Tu atbildēji pareizi uz {{ correct_count }} no {{  count }} jautājumiem</h2>

    <hr/>
    <a class="btn btn-default" href="/?end_quiz=13">Atgriezties sākumā</a>

{% endblock %}